[submodule "app/backend/core/submodules/HunyuanVideo"]
	path = app/backend/core/submodules/HunyuanVideo
	url = https://github.com/Tencent/HunyuanVideo
[submodule "app/backend/core/submodules/Cosmos"]
	path = app/backend/core/submodules/Cosmos
	url = https://github.com/NVIDIA/Cosmos
[submodule "app/backend/core/submodules/Lumina_2"]
	path = app/backend/core/submodules/Lumina_2
	url = https://github.com/Alpha-VLLM/Lumina-Image-2.0
[submodule "app/backend/core/submodules/flow"]
	path = app/backend/core/submodules/flow
	url = https://github.com/lodestone-rock/flow
[submodule "app/backend/core/submodules/HiDream"]
	path = app/backend/core/submodules/HiDream
	url = https://github.com/HiDream-ai/HiDream-I1
[submodule "app/backend/core/submodules/LTX_Video"]
	path = app/backend/core/submodules/LTX_Video
	url = https://github.com/Lightricks/LTX-Video
[submodule "app/backend/core/submodules/HunyuanImage-2.1"]
	path = app/backend/core/submodules/HunyuanImage-2.1
	url = https://github.com/Tencent-Hunyuan/HunyuanImage-2.1
[submodule "app/backend/core/submodules/OmniGen2"]
	path = app/backend/core/submodules/OmniGen2
	url = https://github.com/VectorSpaceLab/OmniGen2
[submodule "app/backend/core/submodules/ComfyUI"]
	path = app/backend/core/submodules/ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI.git
